
.meus-favoritos{
    width:1000px;
    margin:10px auto;
    padding:20px;
    border-top:1px solid rgba(0,0,0,0.07);
    border-bottom:1px solid rgba(0,0,0,0.08);
    position:relative;
    color: #333;
    font-family: "Roboto",UILanguageFont,Arial,sans-serif;
    font-size: 13px;
}


.meus-favoritos #produto{
	display:inline-block;
	width:237px;
	border:1px solid rgba(0,0,0,0.1);
	box-shadow:1px 1px 1px #888;
	margin:5px;
	padding:5px 0px;
	vertical-align:middle;
	position:relative;
}

#titleTooltip{
    font-weight:bold;
    position:absolute;
    border-radius:3px;
    color:white;
    background:#1E1E1E;
    padding:5px 15px;
    font-family:monospace;
    z-index:10;
    text-transform:uppercase;
    font-size:13px;
    max-width:180px;
    text-align:center;
}

#btProdutoFavorito{
	display:inline-block;
	width:25px;
	height:25px;
	vertical-align:bottom;
	position:absolute;
	right:10px;
	top:8px;
}
#btProdutoFavorito div{
	width:24px;
	height:24px;
}#btProdutoFavorito div:hover, #btProdutoFavorito div#foco{
	background:#000;

}.btProdutoFavorito:active{
	opacity:0.3;
}

#btProdutoFavorito img{
	margin: -1px;
	width:26px;
	height:26px;
	cursor:pointer;
}

.meus-favoritos #produto #img{
	width:237px;
	height:217px;
}
.meus-favoritos #produto label{
	display:block;
	padding:2px;
}

.meus-favoritos #produto  strong{
	text-decoration: line-through;
	color:red;
	font-size:10px;
}.meus-favoritos #produto  b{
	color:#4CAF50;
	font-size:15px;
}

#produto div span{
	display:inline-block;
	background:#f0f0f0;
	padding:1px 3px;
	margin:3px;
	font-size:11px;
}

#avaliacoesCincoEstrelasDoProduto {
	font-size:10px;
	margin:10px;
}#avaliacoesCincoEstrelasDoProduto #localPorcentagemEstrelas{
	display:inline-block;
	width:75px;
	height:15px;
	position:relative;

}
#avaliacoesCincoEstrelasDoProduto #localPorcentagemEstrelas div:nth-child(1){
	background:#000;
	height:15px;
	z-index:1;
	position:absolute;
	
}
#avaliacoesCincoEstrelasDoProduto #localPorcentagemEstrelas div:nth-child(2){
	position:absolute;
	z-index:2;
}
#avaliacoesCincoEstrelasDoProduto img{
	width:15px;
	height:15px;
}
